<template>
    <div class="table-responsive">
        <!--{{ events | json}}-->
        <table class="table table-striped table-hover" v-if="display_id" id="{{ display_id }}"></table>
        <table class="table table-striped table-hover" v-else id="main-table-all-data"></table>
    </div>
</template>
<script>
    export default{
        data(){
            return{
                events: null,
                datatable: null
            }
        },
        props:['display_id'],
        events:{
            setEvents: function( events ){
                var self = this; // scope reference

                if(! self.display_id){
                    self.events = events;
                    this.renderDatatable( events, $() );
                }
                else{
                    this.events = _.filter(events, function(currentObject){
                        if(currentObject.display_id === self.display_id){
                            return currentObject;
                        }
                    });
                    this.renderDatatable( this.events );
                }
            }
        },
        methods:{
            renderDatatable(events){
                var self = this;
                var datatable = _.map(events, function(object) {
                    return {
                        '_id':object._id,
                        'display_id':object.display_id,
                        'display_name':object.display_name,
                        'created_at': moment(object.created_at).format('DD/MM/YY h:mm:ss a'),
                        'type_name': object.type_name,
                        'modal':''
                    };
                });

                //conditional reference
                var ref;
                if($('table#'+self.display_id).length){
                    ref = $('table#'+self.display_id);
                }
                else{
                    ref = $('table#main-table-all-data');
                }

                function createCellPos( n ){
                    var ordA = 'A'.charCodeAt(0);
                    var ordZ = 'Z'.charCodeAt(0);
                    var len = ordZ - ordA + 1;
                    var s = "";

                    while( n >= 0 ) {
                        s = String.fromCharCode(n % len + ordA) + s;
                        n = Math.floor(n / len) - 1;
                    }

                    return s;
                }

                self.datatable = ref.DataTable( {
                    "data": datatable,
                    "dom": 'Bfrtip',
                    "ordering": false,
                    "autoWidth": false,
                    "buttons": [
                        {
                            extend: 'csv',
                            text: 'Exportar a CSV',
                            title: 'CSVFile'
                        }
//                        {
//                            extend: 'excel',
//                            text: 'Save as Excel',
//                            customize: function( xlsx ) {
//                                var sheet = xlsx.xl.worksheets['sheet1.xml'];
//                                var lastCol = sheet.getElementsByTagName('col').length - 1;
//                                var colRange = createCellPos( lastCol ) + '1';
//                                //Has to be done this way to avoid creation of unwanted namespace atributes.
//                                var afSerializer = new XMLSerializer();
//                                var xmlString = afSerializer.serializeToString(sheet);
//                                var parser = new DOMParser();
//                                var xmlDoc = parser.parseFromString(xmlString,'text/xml');
//                                var xlsxFilter = xmlDoc.createElementNS('http://schemas.openxmlformats.org/spreadsheetml/2006/main','autoFilter');
//                                var filterAttr = xmlDoc.createAttribute('ref');
//                                filterAttr.value = 'A1:' + colRange;
//                                xlsxFilter.setAttributeNode(filterAttr);
//                                sheet.getElementsByTagName('worksheet')[0].appendChild(xlsxFilter);
//                            }
//                        }
//                        {
//                            extend: 'pdf',
//                            text: 'Exportar a PDF.',
//                            title: 'PDFFile'
//                        }
                    ],
                    "aoColumns": [
                        { "mData": "display_id", "sTitle": "Identificador"  },
                        { "mData": "display_name", "sTitle": "Nombre del totem" },
                        { "mData": "created_at", "sTitle": "Fecha" },
                        {   "mData": null,
                            "sTitle": "Nombre del evento",
                            "mRender": function (data, type, row) {
                                switch (row.type_name){
                                    case 'APP_TOUCH_EVENT':
                                        return '<i class="fa fa-hand-o-up"></i> App Touch Event';
                                        break;
                                    case 'APP_FORM_EVENT':
                                        return '<i class="fa fa-pencil-square-o"></i> App Form Event';
                                        break;
                                }
                            }
                        },
                        {   "mData": null,
                            "bSortable": false,
                            "mRender": function (data, type, row) { return '<button class="event-view-data" data-index-view="'+ row._id +'" class="btn btn-primary" data-toggle="modal" data-target="#modal-view"><i class="fa fa-search"></i></button>';}
                        }
                    ]
                });
            }
        }
    }
</script>