<template>
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Bienvenido a La Campana Web Tracker+</h2>

                <p>Esta aplicacion incorpora la integracion entre interfaces digitales remotas y una solucion centralizada.</p>
                <p>Estamos contentos por tu visita, si tienes problemas no dudes en contactarte con el administrador del sistema.</p>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <div class="alert alert-danger" v-if="error">
                        <p>{{ error }}</p>
                    </div>
                    <form class="m-t" role="form" @submit.prevent="submit($event)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" required="" v-model="credentials.username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required="" v-model="credentials.password">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>
                    </form>
                    <p class="m-t">
                        <small>tracker+ by gestionWeb &copy; 2016</small>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                gestionWeb
            </div>
            <div class="col-md-6 text-right">
                <small>© 2016-2018</small>
            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
    import auth from '../auth.js'

    export default{
        data(){
            return{
                credentials: {
                    username: '',
                    password: ''
                },
                error: ''
            }
        },
        methods: {
            submit(e) {
                var credentials = {
                    username: this.credentials.username,
                    password: this.credentials.password
                };
                // We need to pass the component's this context
                // to properly make use of http in the auth service
                auth.login(this, credentials, 'home')
            }
        }
    }
</script>