<template>
    <!--<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
    <!--<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>-->

    <!-- Flot -->
    <!--<script src="js/plugins/flot/jquery.flot.js"></script>-->
    <!--<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>-->
    <!--<script src="js/plugins/flot/jquery.flot.spline.js"></script>-->
    <!--<script src="js/plugins/flot/jquery.flot.resize.js"></script>-->
    <!--<script src="js/plugins/flot/jquery.flot.pie.js"></script>-->
    <!--<script src="js/plugins/flot/jquery.flot.symbol.js"></script>-->
    <!--<script src="js/plugins/flot/jquery.flot.time.js"></script>-->

    <!-- Custom and plugin javascript -->
    <!--<script src="js/plugins/inspinia.js"></script>-->
    <!--<script src="js/plugins/pace/pace.min.js"></script>-->

    <!-- Sparkline -->
    <!--<script src="js/plugins/sparkline/jquery.sparkline.min.js"></script>-->
    asdasd
</template>
<style>
</style>
<script>
    export default{
        data(){
            return{
                msg:'hello vue'
            }
        }
    }
</script>